*{
  margin: 0;
  padding: 0;
  outline: none;
}

button{
  border: none;
  cursor: pointer;
  background-color:rgb(10, 12, 19);
  color: rgb(160, 159, 159);
}

button:hover, .isActive{
  background-color: rgb(60, 62, 68);
  color: orange;
}

::selection {
  background: black;
  color: orange;
  }
  
::-moz-selection {
background: black;
color: orange;
  }

.card-hoverEffect:hover{
  transition: .2s ease;
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}